@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap");
:root {
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);

  /*Neutral Colors */
  --Navy-950: hsl(226, 43%, 10%);
  --Navy-900: hsl(235, 46%, 20%);
  --Navy-800: hsl(235, 41%, 34%);
  --Navy-200: hsl(236, 100%, 87%);

  /* Primary Colors */
  --Orange-300-work: hsl(15, 100%, 70%);
  --Purple-700-social: hsl(264, 64%, 52%);
  --Purple-600: hsl(246, 80%, 60%);
  --Purple-500: hsl(235, 45%, 61%);

  --Blue-300-play: hsl(195, 74%, 62%);
  --Pink-400-study: hsl(348, 100%, 68%);
  --Green-400-exercise: hsl(145, 58%, 55%);
  --Yellow-300-self-care: hsl(43, 84%, 65%);

  /*Typography
  --Font-size: 18px;
  Body Copy - Card titles e.g. work, play etc.,
  */
  /*
  Font Family Rubik
  Font weights 300, 400, 500
  
  Txt 1 - Rubik Lt 56px, 66px-line height, font-weight 300
  Txt 2 - Rubik Lt 40px, 47px-line height, font-weight 300
  Txt 3 - Rubik Lt 32px, 38px-line height, font-weight 300
  Txt 4 - Rubik Lt 24px, 28px-line height, font-weight 300
  Txt 5-med- Rubik med 18px, 21px-line height, font-weight 400
  Txt 5-reg- Rubik reg 18px, 21px-line height, font-weight 500
  Txt 6-reg- Rubik reg 15px, 18px-line height, font-weight 500
  All 0px letter spacing
  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", serif;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--Navy-950);
}

main {
  margin-top: 1.5em;
}

ol {
  display: grid;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* li.selfcare-card {
  margin-bottom: 0;
  padding-bottom: 0;
} */
a {
  text-decoration: none;
  padding: 0 1.5em;
}
img {
  height: 64px;
  width: 64px;
  border: 2px solid white;
  border-radius: 2em;
}
.elipsis {
  width: 21px;
  height: 5px;
  margin-left: auto;
}

.selected-link {
  color: var(--white);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*Responsive Media Queries*/
/* Mobile Size 390px-600px */
@media only screen and (max-width: 390px) {
  ol {
    grid-template-columns: auto;
    row-gap: 1.5em;
  }

  p {
    /* Txt 6-reg- Rubik reg 15px, 18px-line height, font-weight 500 */
    color: var(--Navy-200);
    font-size: 15px;
    line-height: 18px;
    font-weight: regular;
  }
  h1 {
    /* Txt 4 - Rubik Lt 24px, 28px-line height, font-weight 300 */
    color: var(--white);
    font-size: 24px;
    line-height: 28px;
    font-weight: lighter;
  }

  h1 {
    margin-left: 0.5em;
  }

  svg {
    height: 78px;
    width: 78px;
  }

  .user-card {
    display: flex;
  }
  .user {
    display: flex;
    padding: 2em;
    justify-content: center;
    width: 327px;
    border-radius: 1em;
    background-color: var(--Purple-600);
    position: relative;
    z-index: 2;
  }
  .user-name {
    display: inline-block;
  }
  .time-tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    /* height: 70px; */
    /* height: 100%; */
    height: 203px;
    width: 327px;
    /* border: 1px solid red; */
    border-radius: 1em;
    background-color: var(--Navy-900);
    position: absolute;
    z-index: 1;
  }

  .link-container {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }

  .selected-link {
    color: var(--white);
  }
  /* .work-wrapper {
    position: relative;
    width: 327px;
  } */
  .work-bg {
    background-color: var(--Orange-300-work);
    position: absolute;
    margin-top: 4.5em;
  }
  .play-bg {
    background-color: var(--Blue-300-play);
    margin-top: 7em;
    position: relative;
  }
  .study-bg {
    background-color: var(--Pink-400-study);
    margin-top: -9em;
    position: relative;
  }
  .exercise-bg {
    background-color: var(--Green-400-exercise);
    margin-top: -9em;
    position: relative;
  }

  .social-bg {
    background-color: var(--Purple-700-social);
    margin-top: -9em;
    position: relative;
  }

  .selfcare-bg {
    background-color: var(--Yellow-300-self-care);
    margin-top: -9em;
    position: relative;
  }

  .work-bg,
  .play-bg,
  .study-bg,
  .exercise-bg,
  .social-bg,
  .selfcare-bg {
    display: flex;
    width: 327px;
    min-height: 160px;
    border-radius: 1em;
    z-index: 3;
    padding: 1em;
  }

  .svg-container {
    position: absolute;
    right: 1em;
    top: 0em;
  }
  .work-display {
    top: 7em;
  }
  .play-display {
    margin-top: 1.5em;
    top: -9em;
    margin-bottom: 0;
  }

  .study-display {
    margin-top: 1.5em;
    top: -9em;
    margin-bottom: 0;
  }

  .exercise-display {
    margin-top: 1.5em;
    top: -9em;
    margin-bottom: 0;
  }

  .social-display {
    margin-top: 1.5em;
    top: -9em;
    margin-bottom: 0;
  }

  .selfcare-display {
    margin-top: 1.5em;
    top: -9em;
    margin-bottom: 0;
  }

  .work-display,
  .play-display,
  .study-display,
  .exercise-display,
  .social-display,
  .selfcare-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.5em;
    /* width: 100%; */
    width: 327px;
    height: 122px;
    border-radius: 1em;
    background-color: var(--Navy-900);
    position: relative;
    z-index: 4;
    padding: 1.5em;
  }
  .box-1-title,
  .box-2-dots,
  .box-3,
  .box-4 {
    display: flex;
    align-items: center;
  }

  .box-1-title {
    justify-content: flex-start;
  }
  .box-2-dots {
    justify-content: flex-end;
  }
  .box-3 {
    justify-content: flex-start;
  }
  .box-4 {
    justify-content: flex-end;
  }

  .current-hrs {
    font-size: 32px;
    line-height: 38px;
    color: var(--white);
  }
  .previous-hrs {
    color: var(--Navy-200);
  }
  .card-title {
    /*  Txt 5-med- Rubik med 18px, 21px-line height, font-weight 400*/
    /* flex: 1;  */
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: var(--white);
  }
}

/* Tablet size 768px */
@media only screen and (min-width: 391px) and (max-width: 768px) {
  ol {
    grid-template-columns: auto auto auto;
    gap: 1.5em;
  }

  p {
    /* Txt 6-reg- Rubik reg 15px, 18px-line height, font-weight 500 */
    color: var(--Navy-200);
    font-size: 15px;
    line-height: 18px;
    font-weight: regular;
  }
  h1 {
    /* Txt 4 - Rubik Lt 24px, 28px-line height, font-weight 300 */
    color: var(--white);
    font-size: 24px;
    line-height: 28px;
    font-weight: lighter;
    margin-left: 0.5em;
  }

  svg {
    height: 78px;
    width: 78px;
  }

  li.user-card {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 612px;
  }
  .user {
    display: flex;
    padding: 2em;
    justify-content: center;
    width: 612px;
    border-radius: 1em;
    background-color: var(--Purple-600);
    position: relative;
    z-index: 2;
  }
  .user-name {
    display: inline-block;
  }
  .time-tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    /* height: 70px; */
    /* height: 100%; */
    height: 203px;
    width: 612px;
    /* border: 1px solid red; */
    border-radius: 1em;
    background-color: var(--Navy-900);
    position: absolute;
    z-index: 1;
  }

  .link-container {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }

  .work-bg {
    background-color: var(--Orange-300-work);
    position: absolute;
  }
  .play-bg {
    background-color: var(--Blue-300-play);
  }
  .study-bg {
    background-color: var(--Pink-400-study);
  }
  .exercise-bg {
    background-color: var(--Green-400-exercise);
  }

  .social-bg {
    background-color: var(--Purple-700-social);
  }

  .selfcare-bg {
    background-color: var(--Yellow-300-self-care);
  }

  .work-bg,
  .play-bg,
  .study-bg,
  .exercise-bg,
  .social-bg,
  .selfcare-bg {
    display: flex;
    width: 188px;
    min-height: 213px;
    margin-top: 4.5em;
    border-radius: 1em;
    z-index: 3;
    padding: 1em;
    position: relative;
  }

  .svg-container {
    position: absolute;
    right: 1em;
    top: 0em;
  }

  .exercise-bg,
  .social-bg,
  .selfcare-bg {
    top: -16em;
  }
  .work-display,
  .play-display,
  .study-display {
    top: -11em;
  }
  .exercise-display,
  .social-display,
  .selfcare-display {
    top: -28em;
  }

  .exercise-display {
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  .social-display {
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  .selfcare-display {
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  .work-display,
  .play-display,
  .study-display,
  .exercise-display,
  .social-display,
  .selfcare-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.5em;
    /* width: 100%; */
    width: 188px;
    height: 213px;
    border-radius: 1em;
    background-color: var(--Navy-900);
    position: relative;
    z-index: 4;
    padding: 1.5em;
  }
  .box-1-title,
  .box-2-dots,
  .box-3,
  .box-4 {
    display: flex;
    align-items: center;
  }

  .box-1-title {
    justify-content: flex-start;
  }
  .box-2-dots {
    justify-content: flex-end;
  }
  .box-3 {
    justify-content: flex-start;
  }
  .box-4 {
    justify-content: flex-end;
  }

  .current-hrs {
    font-size: 32px;
    line-height: 38px;
    color: var(--white);
  }
  .previous-hrs {
    color: var(--Navy-200);
  }
  .card-title {
    /*  Txt 5-med- Rubik med 18px, 21px-line height, font-weight 400*/
    /* flex: 1;  */
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: var(--white);
  }
}

/* Desktop size 992px, 1200px, 1440px */
/* @media only screen and (min-width: 769px) and (max-width: 1440px) {

} */
